

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: "Red Hat Display", sans-serif;

}

.commoditiesSection .swiper-wrapper{
    padding-bottom: 60px !important;
}


@media (max-width:1024px) {
    .menu {
        z-index: 99;
        position: absolute;
        top: 86px;
        left: 0;
        padding: 40px;
        width: 100%;
        min-height: 80vh;
        background: white;
    }
    .menu.close{
        opacity: 0;
        visibility: hidden;
    }
    .menu.open{
        opacity: 1;
        visibility: visible;
    }
}
